name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request: ~
  schedule:
    - cron: '0 0 * * *'

env:
  DEFAULT_PYTHON: 3.11

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      pip_cache_dir: ${{ steps.pip-cache.outputs.dir }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Get pip cache directory path
        id: pip-cache
        run: echo "pip_cache_dir=$(pip cache dir)" >> $GITHUB_ENV

      - name: Cache pip dependencies
        uses: actions/cache@v3.3.2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt', '**/requirements_test.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install project dependencies
        run: |
          pip install -r requirements.txt
    
      - name: Install test dependencies
        run: |
          pip install -r requirements_test.txt

  unit-tests:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Cache pip dependencies
        uses: actions/cache@v3.3.2
        with:
          path: ${{ needs.prepare.outputs.pip_cache_dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt', '**/requirements_test.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install project dependencies
        run: |
          pip install -r requirements.txt
    
      - name: Install test dependencies
        run: |
          pip install -r requirements_test.txt

      - name: Run unit tests
        run: |
          pytest --cov=asusrouter --cov-report=xml:unit-tests-cov.xml -k 'not test_devices'

  device-tests:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Cache pip dependencies
        uses: actions/cache@v3.3.2
        with:
          path: ${{ needs.prepare.outputs.pip_cache_dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt', '**/requirements_test.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install project dependencies
        run: |
          pip install -r requirements.txt
    
      - name: Install test dependencies
        run: |
          pip install -r requirements_test.txt

      - name: Run real-data tests
        run: |
          pytest --cov=asusrouter --cov-report=xml:real-data-tests-cov.xml tests/test_devices.py --log-cli-level=INFO

  codecov:
    needs: [unit-tests, device-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: unit-tests-cov.xml,real-data-tests-cov.xml
